<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradplus.crosspro" >


    <application>
        <activity
            android:name="com.tradplus.crosspro.ui.CPAdActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name="com.tradplus.crosspro.ui.ApkConfirmDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>


</manifest>
