<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tradplus.startapp">

    <application>
        <!--If you want to disable return ads (they are enabled by default) please add following meta-data tag:-->
        <meta-data android:name="com.startapp.sdk.RETURN_ADS_ENABLED" android:value="false" />
    </application>

</manifest>